$primary: #d9965b; // Cor primária personalizada
$secondary: #595959; // Cor primária personalizada
$fundo: #ebeef2;
$font: "Montserrat";
/* Container dos cards */
.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px; /* Espaço entre os cards */
  background-color: $fundo;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
}

/* Cada card */
.card {
  width: 250px; /* Largura do card */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Sombra */
  transition: all 0.3s ease; /* Animações */
  display: flex;
  text-align: center;
  justify-content: center;
  h4 {
    font-size: 22px;
    color: $secondary;
    font-family: $font;
  }
}

/* Imagem dentro do card */
.card-image {
  width: 100%;
  object-fit: cover; /* Ajusta a imagem dentro do card */
  transition: all 0.3s ease; /* Transição suave para a opacidade */
  border-radius: 5px 5px 0 0;
  background-color: transparent;
}

/* Reduz a opacidade das outras imagens */
.card-container:hover .card {
  opacity: 0.5; /* Define opacidade reduzida */
}

/* Exclui a imagem que está sendo "hovered" */
.card-container .card:hover {
  opacity: 1; /* Mantém a opacidade da imagem com hover */
  transform: scale(1.15);
}

.card-text {
  font-style: italic;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: "Times New Roman", Times, serif;
}
