$primary: #d9965b; // Cor primária personalizada
$secondary: #595959; // Cor secundária personalizada
$fundo: #ebeef2;
$font-family-base: "Roboto", sans-serif; // Fonte personalizada
$font: "Montserrat";
