$primary: #d9965b; // Cor primária personalizada
$secondary: #595959; // Cor primária personalizada
$fundo: #ebeef2;
$font: "Montserrat";

.logo {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.logo-first {
  position: absolute;
  top: 50px;
  font-size: 100px;
  color: $primary;
  font-weight: 400;
  font-family: "Parisienne";
}
.logo-last {
  top: 130px;
  right: 620px;
  position: absolute;
  font-size: 60px;
  color: $secondary;
  font-weight: 500;
  font-family: $font;
}
