$primary: #d9965b; // Cor primária personalizada
$secondary: #595959; // Cor primária personalizada
$fundo: #ebeef2;

.tabela {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  ul {
    width: 50%;
    list-style: none;
    margin: 20px auto 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    li {
      margin: 15px 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $secondary;
      display: flex;
      align-items: center;

      svg {
        font-size: 22px;
      }
      span {
        font-size: 18px;
        color: black;
        font-style: italic;
      }

      .valor {
        background: linear-gradient(to right, #595959a8 30%, transparent 100%);
        width: 120px;
        padding: 4px 8px;
        border-radius: 20px 0 0 20px;
        color: black;
      }
    }
  }

  p {
    text-align: center;
    font-size: 18px;
    color: $secondary;
    font-weight: bold;
    font-style: italic;
  }
}

@media screen and (max-width: 800px) {
  .tabela {
    ul {
      width: 100%;
    }
  }
}
