.content {
  width: 100%;
  display: flex;
}
.nail {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-nail {
  flex-wrap: wrap;
  width: 100%;
  border-radius: 10px;
  display: flex;
  transition: all 0.5 ease-in;
  padding: 0 40px;
}

.card-nail img {
  width: 14%;
  height: 350px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  opacity: 1; /* Opacidade inicial */
  filter: contrast(120%);
}

.card-nail:hover img {
  opacity: 0.5; /* Quando o mouse estiver sobre o container, todas as imagens terão opacidade reduzida */
  filter: blur(1px);
}

.card-nail img:hover {
  opacity: 1; /* A imagem que está sendo destacada no hover volta a ter opacidade total */
  transform: scale(1.7);
  z-index: 9;
  filter: blur(0);
}

@media screen and (max-width: 1250px) {
  .card-nail {
    padding: 0;
  }
  .card-nail img {
    height: 250px;
  }
}

@media screen and (max-width: 800px) {
  .card-nail {
    gap: 20px;
  }
  .card-nail img {
    width: 25%;
  }

  .card-nail:hover img {
    opacity: 1; /* Quando o mouse estiver sobre o container, todas as imagens terão opacidade reduzida */
    filter: blur(0px);
  }

  .card-nail img:hover {
    opacity: 1; /* A imagem que está sendo destacada no hover volta a ter opacidade total */
    transform: scale(1);
    z-index: 1;
    filter: blur(0);
  }
}

@media screen and (max-width: 600px) {
  .card-nail {
    gap: 10px;
    row-gap: 20px;
  }
  .card-nail img {
    width: 45%;
  }
}
